{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>api_detail_request</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="{% static "resources/css/jquery-ui-themes.css" %}" type="text/css" rel="stylesheet"/>
    <link href="{% static "resources/css/axure_rp_page.css" %}" type="text/css" rel="stylesheet"/>
    <link href="{% static "data/styles.css" %}" type="text/css" rel="stylesheet"/>
    <link href="{% static "files/api_detail_request/styles.css" %}" type="text/css" rel="stylesheet"/>
    <script src="{% static "resources/scripts/jquery-1.7.1.min.js" %}"></script>
    <script src="{% static "resources/scripts/jquery-ui-1.8.10.custom.min.js" %}"></script>
    <script src="{% static "resources/scripts/prototypePre.js" %}"></script>
    <script src="{% static "data/document.js" %}"></script>
    <script src="{% static "resources/scripts/prototypePost.js" %}"></script>
    <script src="{% static "files/api_detail_request/data.js" %}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Vertical Line) -->
      <div id="u584" class="ax_default vertical_line">
        <img id="u584_img" class="img " src="{% static "images/api_detail_request/u584.png" %}"/>
        <!-- Unnamed () -->
        <div id="u585" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u586" class="ax_default shape">
        <div id="u586_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u587" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u588" class="ax_default shape">
        <div id="u588_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u589" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u590" class="ax_default shape">
        <div id="u590_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u591" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u592" class="ax_default image">
        <img id="u592_img" class="img " src="{% static "images/index/u8.PNG" %}"/>
        <!-- Unnamed () -->
        <div id="u593" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u594" class="ax_default image">
        <img id="u594_img" class="img " src="{% static "images/api_detail_request/u594.PNG" %}"/>
        <!-- Unnamed () -->
        <div id="u595" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u596" class="ax_default paragraph">
        <img id="u596_img" class="img " src="{% static "images/api_detail_request/u596.png" %}"/>
        <!-- Unnamed () -->
        <div id="u597" class="text">
          <p><span>接口request-header部分新增变量的形式是：名称/值 </span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u598" class="ax_default paragraph">
        <div id="u598_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u599" class="text">
          <p><span>接口request-body部分新增变量的形式是：名称/类型/值 </span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u600" class="ax_default droplist">
        <select id="u600_input">
          <option selected value="项目A">项目A</option>
          <option value="项目B">项目B</option>
          <option value="项目C">项目C</option>
        </select>
      </div>

      <!-- Unnamed (Tree) -->
      <div id="u601" class="ax_default tree_node treeroot">
        <div id="u601_children" class="u601_children">

          <!-- Unnamed (Tree Node) -->
          <div id="u602" class="ax_default tree_node treenode">

            <!-- Unnamed (Image) -->
            <div id="u603" class="ax_default image">
              <img id="u603_img" class="img " src="{% static "images/index/u17_selected.png" %}"/>
              <!-- Unnamed () -->
              <div id="u604" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u605" class="ax_default image">
              <img id="u605_img" class="img " src="{% static "images/index/u19.png" %}"/>
              <!-- Unnamed () -->
              <div id="u606" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
            <!-- Unnamed (Rectangle) -->
            <div id="u607" class="" selectiongroup="u601_tree_group">
              <div id="u607_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u608" class="text">
                <p><span>用例集1</span></p>
              </div>
            </div>
            <div id="u602_children" class="u602_children">

              <!-- Unnamed (Tree Node) -->
              <div id="u609" class="ax_default tree_node treenode">

                <!-- Unnamed (Image) -->
                <div id="u610" class="ax_default image">
                  <img id="u610_img" class="img " src="{% static "images/index/u17_selected.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u611" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u612" class="ax_default image">
                  <img id="u612_img" class="img " src="{% static "images/index/u19.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u613" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
                <!-- Unnamed (Rectangle) -->
                <div id="u614" class="" selectiongroup="u601_tree_group">
                  <div id="u614_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u615" class="text">
                    <p><span style="text-decoration:underline;">后台功能A</span></p>
                  </div>
                </div>
                <div id="u609_children" class="u609_children">

                  <!-- Unnamed (Tree Node) -->
                  <div id="u616" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u617" class="ax_default image">
                      <img id="u617_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u618" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u619" class="" selectiongroup="u601_tree_group">
                      <div id="u619_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u620" class="text">
                        <p><span>查询用户分组列表</span></p>
                      </div>
                    </div>
                  </div>

                  <!-- Unnamed (Tree Node) -->
                  <div id="u621" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u622" class="ax_default image">
                      <img id="u622_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u623" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u624" class="" selectiongroup="u601_tree_group">
                      <div id="u624_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u625" class="text">
                        <p><span>查询用户分组列表</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Unnamed (Tree Node) -->
              <div id="u626" class="ax_default tree_node treenode">

                <!-- Unnamed (Image) -->
                <div id="u627" class="ax_default image">
                  <img id="u627_img" class="img " src="{% static "images/index/u17_selected.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u628" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u629" class="ax_default image">
                  <img id="u629_img" class="img " src="{% static "images/index/u19.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u630" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
                <!-- Unnamed (Rectangle) -->
                <div id="u631" class="" selectiongroup="u601_tree_group">
                  <div id="u631_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u632" class="text">
                    <p><span>Web功能B</span></p>
                  </div>
                </div>
                <div id="u626_children" class="u626_children">

                  <!-- Unnamed (Tree Node) -->
                  <div id="u633" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u634" class="ax_default image">
                      <img id="u634_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u635" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u636" class="" selectiongroup="u601_tree_group">
                      <div id="u636_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u637" class="text">
                        <p><span>用例1</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Unnamed (Tree Node) -->
              <div id="u638" class="ax_default tree_node treenode">

                <!-- Unnamed (Image) -->
                <div id="u639" class="ax_default image">
                  <img id="u639_img" class="img " src="{% static "images/index/u17_selected.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u640" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u641" class="ax_default image">
                  <img id="u641_img" class="img " src="{% static "images/index/u19.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u642" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
                <!-- Unnamed (Rectangle) -->
                <div id="u643" class="" selectiongroup="u601_tree_group">
                  <div id="u643_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u644" class="text">
                    <p><span>后台功能C</span></p>
                  </div>
                </div>
                <div id="u638_children" class="u638_children">

                  <!-- Unnamed (Tree Node) -->
                  <div id="u645" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u646" class="ax_default image">
                      <img id="u646_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u647" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u648" class="" selectiongroup="u601_tree_group">
                      <div id="u648_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u649" class="text">
                        <p><span>用例1</span></p>
                      </div>
                    </div>
                  </div>

                  <!-- Unnamed (Tree Node) -->
                  <div id="u650" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u651" class="ax_default image">
                      <img id="u651_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u652" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u653" class="" selectiongroup="u601_tree_group">
                      <div id="u653_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u654" class="text">
                        <p><span>用例2</span></p>
                      </div>
                    </div>
                  </div>

                  <!-- Unnamed (Tree Node) -->
                  <div id="u655" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u656" class="ax_default image">
                      <img id="u656_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u657" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u658" class="" selectiongroup="u601_tree_group">
                      <div id="u658_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u659" class="text">
                        <p><span>用例3</span></p>
                      </div>
                    </div>
                  </div>

                  <!-- Unnamed (Tree Node) -->
                  <div id="u660" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u661" class="ax_default image">
                      <img id="u661_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u662" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u663" class="" selectiongroup="u601_tree_group">
                      <div id="u663_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u664" class="text">
                        <p><span>用例4</span></p>
                      </div>
                    </div>
                  </div>

                  <!-- Unnamed (Tree Node) -->
                  <div id="u665" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u666" class="ax_default image">
                      <img id="u666_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u667" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u668" class="" selectiongroup="u601_tree_group">
                      <div id="u668_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u669" class="text">
                        <p><span>用例5</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u670" class="ax_default html_button">
        <input id="u670_input" type="submit" value="新建用例集"/>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u671" class="ax_default html_button">
        <input id="u671_input" type="submit" value="新建项目"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u672" class="ax_default paragraph">
        <div id="u672_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u673" class="text">
          <p><span>代码映射、标签这两个Label，这里不需要，可以去掉</span></p>
        </div>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u674" class="ax_default html_button">
        <input id="u674_input" type="submit" value="测试用例"/>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u675" class="ax_default html_button">
        <input id="u675_input" type="submit" value="测试执行"/>
      </div>

      <!-- Unnamed (Menu) -->
      <div id="u676" class="ax_default">
        <img id="u676_menu" class="img " src="{% static "images/index/u89_menu.png" %}" alt="u676_menu"/>

        <!-- Unnamed (Table) -->
        <div id="u677" class="ax_default table">

          <!-- Unnamed (Menu Item) -->
          <div id="u678" class="ax_default table_cell">
            <img id="u678_img" class="img " src="{% static "images/index/u91.png" %}"/>
            <!-- Unnamed () -->
            <div id="u679" class="text">
              <p><span>基本信息</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u680" class="ax_default table_cell">
            <img id="u680_img" class="img " src="{% static "images/index/u93.png" %}"/>
            <!-- Unnamed () -->
            <div id="u681" class="text">
              <p><span>接口管理</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u682" class="ax_default table_cell">
            <img id="u682_img" class="img " src="{% static "images/index/u95.png" %}"/>
            <!-- Unnamed () -->
            <div id="u683" class="text">
              <p><span>资源配置</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u684" class="ax_default paragraph">
        <div id="u684_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u685" class="text">
          <p><span>下方的所有文本区域都是鼠标放上去可编辑的</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
