{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>api_new</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="{% static "resources/css/jquery-ui-themes.css" %}" type="text/css" rel="stylesheet"/>
    <link href="{% static "resources/css/axure_rp_page.css" %}" type="text/css" rel="stylesheet"/>
    <link href="{% static "data/styles.css" %}" type="text/css" rel="stylesheet"/>
    <link href="{% static "files/api_new/styles.css" %}" type="text/css" rel="stylesheet"/>
    <script src="{% static "resources/scripts/jquery-1.7.1.min.js" %}"></script>
    <script src="{% static "resources/scripts/jquery-ui-1.8.10.custom.min.js" %}"></script>
    <script src="{% static "resources/scripts/prototypePre.js" %}"></script>
    <script src="{% static "data/document.js" %}"></script>
    <script src="{% static "resources/scripts/prototypePost.js" %}"></script>
    <script src="{% static "files/api_new/data.js" %}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Vertical Line) -->
      <div id="u486" class="ax_default vertical_line">
        <img id="u486_img" class="img " src="{% static "images/index/u0.png" %}"/>
        <!-- Unnamed () -->
        <div id="u487" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u488" class="ax_default shape">
        <div id="u488_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u489" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u490" class="ax_default shape">
        <div id="u490_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u491" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u492" class="ax_default shape">
        <div id="u492_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u493" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u494" class="ax_default image">
        <img id="u494_img" class="img " src="{% static "images/index/u8.PNG" %}"/>
        <!-- Unnamed () -->
        <div id="u495" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u496" class="ax_default image">
        <img id="u496_img" class="img " src="{% static "images/api_new/u496.PNG" %}"/>
        <!-- Unnamed () -->
        <div id="u497" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u498" class="ax_default paragraph">
        <div id="u498_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u499" class="text">
          <p><span>这里提供新建接口的部分信息，关于Header和Body的部分在提交之后的详情页部分</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u500" class="ax_default paragraph">
        <div id="u500_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u501" class="text">
          <p><span>点击提交后跳转到“接口详情页”</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u502" class="ax_default droplist">
        <select id="u502_input">
          <option selected value="项目A">项目A</option>
          <option value="项目B">项目B</option>
          <option value="项目C">项目C</option>
        </select>
      </div>

      <!-- Unnamed (Tree) -->
      <div id="u503" class="ax_default tree_node treeroot">
        <div id="u503_children" class="u503_children">

          <!-- Unnamed (Tree Node) -->
          <div id="u504" class="ax_default tree_node treenode">

            <!-- Unnamed (Image) -->
            <div id="u505" class="ax_default image">
              <img id="u505_img" class="img " src="{% static "images/index/u17_selected.png" %}"/>
              <!-- Unnamed () -->
              <div id="u506" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u507" class="ax_default image">
              <img id="u507_img" class="img " src="{% static "images/index/u19.png" %}"/>
              <!-- Unnamed () -->
              <div id="u508" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
            <!-- Unnamed (Rectangle) -->
            <div id="u509" class="" selectiongroup="u503_tree_group">
              <div id="u509_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u510" class="text">
                <p><span>用例集1</span></p>
              </div>
            </div>
            <div id="u504_children" class="u504_children">

              <!-- Unnamed (Tree Node) -->
              <div id="u511" class="ax_default tree_node treenode">

                <!-- Unnamed (Image) -->
                <div id="u512" class="ax_default image">
                  <img id="u512_img" class="img " src="{% static "images/index/u17_selected.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u513" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u514" class="ax_default image">
                  <img id="u514_img" class="img " src="{% static "images/index/u19.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u515" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
                <!-- Unnamed (Rectangle) -->
                <div id="u516" class="" selectiongroup="u503_tree_group">
                  <div id="u516_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u517" class="text">
                    <p><span style="text-decoration:underline;">后台功能A</span></p>
                  </div>
                </div>
                <div id="u511_children" class="u511_children">

                  <!-- Unnamed (Tree Node) -->
                  <div id="u518" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u519" class="ax_default image">
                      <img id="u519_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u520" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u521" class="" selectiongroup="u503_tree_group">
                      <div id="u521_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u522" class="text">
                        <p><span>查询用户分组列表</span></p>
                      </div>
                    </div>
                  </div>

                  <!-- Unnamed (Tree Node) -->
                  <div id="u523" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u524" class="ax_default image">
                      <img id="u524_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u525" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u526" class="" selectiongroup="u503_tree_group">
                      <div id="u526_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u527" class="text">
                        <p><span>查询用户分组列表</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Unnamed (Tree Node) -->
              <div id="u528" class="ax_default tree_node treenode">

                <!-- Unnamed (Image) -->
                <div id="u529" class="ax_default image">
                  <img id="u529_img" class="img " src="{% static "images/index/u17_selected.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u530" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u531" class="ax_default image">
                  <img id="u531_img" class="img " src="{% static "images/index/u19.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u532" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
                <!-- Unnamed (Rectangle) -->
                <div id="u533" class="" selectiongroup="u503_tree_group">
                  <div id="u533_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u534" class="text">
                    <p><span>Web功能B</span></p>
                  </div>
                </div>
                <div id="u528_children" class="u528_children">

                  <!-- Unnamed (Tree Node) -->
                  <div id="u535" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u536" class="ax_default image">
                      <img id="u536_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u537" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u538" class="" selectiongroup="u503_tree_group">
                      <div id="u538_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u539" class="text">
                        <p><span>用例1</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Unnamed (Tree Node) -->
              <div id="u540" class="ax_default tree_node treenode">

                <!-- Unnamed (Image) -->
                <div id="u541" class="ax_default image">
                  <img id="u541_img" class="img " src="{% static "images/index/u17_selected.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u542" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u543" class="ax_default image">
                  <img id="u543_img" class="img " src="{% static "images/index/u19.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u544" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
                <!-- Unnamed (Rectangle) -->
                <div id="u545" class="" selectiongroup="u503_tree_group">
                  <div id="u545_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u546" class="text">
                    <p><span>后台功能C</span></p>
                  </div>
                </div>
                <div id="u540_children" class="u540_children">

                  <!-- Unnamed (Tree Node) -->
                  <div id="u547" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u548" class="ax_default image">
                      <img id="u548_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u549" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u550" class="" selectiongroup="u503_tree_group">
                      <div id="u550_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u551" class="text">
                        <p><span>用例1</span></p>
                      </div>
                    </div>
                  </div>

                  <!-- Unnamed (Tree Node) -->
                  <div id="u552" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u553" class="ax_default image">
                      <img id="u553_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u554" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u555" class="" selectiongroup="u503_tree_group">
                      <div id="u555_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u556" class="text">
                        <p><span>用例2</span></p>
                      </div>
                    </div>
                  </div>

                  <!-- Unnamed (Tree Node) -->
                  <div id="u557" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u558" class="ax_default image">
                      <img id="u558_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u559" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u560" class="" selectiongroup="u503_tree_group">
                      <div id="u560_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u561" class="text">
                        <p><span>用例3</span></p>
                      </div>
                    </div>
                  </div>

                  <!-- Unnamed (Tree Node) -->
                  <div id="u562" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u563" class="ax_default image">
                      <img id="u563_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u564" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u565" class="" selectiongroup="u503_tree_group">
                      <div id="u565_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u566" class="text">
                        <p><span>用例4</span></p>
                      </div>
                    </div>
                  </div>

                  <!-- Unnamed (Tree Node) -->
                  <div id="u567" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u568" class="ax_default image">
                      <img id="u568_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u569" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u570" class="" selectiongroup="u503_tree_group">
                      <div id="u570_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u571" class="text">
                        <p><span>用例5</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u572" class="ax_default html_button">
        <input id="u572_input" type="submit" value="新建用例集"/>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u573" class="ax_default html_button">
        <input id="u573_input" type="submit" value="新建项目"/>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u574" class="ax_default html_button">
        <input id="u574_input" type="submit" value="测试用例"/>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u575" class="ax_default html_button">
        <input id="u575_input" type="submit" value="测试执行"/>
      </div>

      <!-- Unnamed (Menu) -->
      <div id="u576" class="ax_default">
        <img id="u576_menu" class="img " src="{% static "images/index/u89_menu.png" %}" alt="u576_menu"/>

        <!-- Unnamed (Table) -->
        <div id="u577" class="ax_default table">

          <!-- Unnamed (Menu Item) -->
          <div id="u578" class="ax_default table_cell">
            <img id="u578_img" class="img " src="{% static "images/index/u91.png" %}"/>
            <!-- Unnamed () -->
            <div id="u579" class="text">
              <p><span>基本信息</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u580" class="ax_default table_cell">
            <img id="u580_img" class="img " src="{% static "images/index/u93.png" %}"/>
            <!-- Unnamed () -->
            <div id="u581" class="text">
              <p><span>接口管理</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u582" class="ax_default table_cell">
            <img id="u582_img" class="img " src="{% static "images/index/u95.png" %}"/>
            <!-- Unnamed () -->
            <div id="u583" class="text">
              <p><span>资源配置</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
