{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>主页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="{% static "resources/css/jquery-ui-themes.css" %}"  type="text/css" rel="stylesheet"/>
    <link href="{% static "resources/css/axure_rp_page.css" %}" type="text/css" rel="stylesheet"/>
    <link href="{% static "data/styles.css" %}" type="text/css"  rel="stylesheet"/>
    <link href="{% static "files/index/styles.css" %}" type="text/css" rel="stylesheet"/>
    <script src="{% static "resources/scripts/jquery-1.7.1.min.js" %}"></script>
    <script src="{% static "resources/scripts/jquery-ui-1.8.10.custom.min.js" %}"></script>
    <script src="{% static "resources/scripts/prototypePre.js" %}"></script>
    <script src="{% static "data/document.js" %}"></script>
    <script src="{% static "resources/scripts/prototypePost.js" %}"></script>
    <script src="{% static "files/index/data.js" %}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return '{% static "resources/images/transparent.gif" %}' ; };
      $axure.utils.getOtherPath = function() { return '{% static "resources/Other.html" %}'; };
      $axure.utils.getReloadPath = function() { return '{% static "resources/reload.html" %}'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Vertical Line) -->
      <div id="u0" class="ax_default vertical_line">
        <img id="u0_img" class="img " src="{% static "images/index/u0.png" %}"/>
        <!-- Unnamed () -->
        <div id="u1" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2" class="ax_default shape">
        <div id="u2_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4" class="ax_default shape">
        <div id="u4_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u5" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u6" class="ax_default shape">
        <div id="u6_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u7" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u8" class="ax_default image">
        <img id="u8_img" class="img " src="{% static "images/index/u8.PNG" %}"/>
        <!-- Unnamed () -->
        <div id="u9" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u10" class="ax_default paragraph">
        <div id="u10_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11" class="text">
          <p><span>当前已选中“后台功能文件”夹，右侧的当前位置显示目录结构的实时路径；</span></p><p><span>点击“查询用户分组列表后”跳转到——“基本信息展示页面”</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12" class="ax_default paragraph">
        <div id="u12_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u13" class="text">
          <p><span>显示目录结构的实时路径</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u14" class="ax_default droplist">
        <select id="u14_input">
          <option selected value="项目A">项目A</option>
          <option value="项目B">项目B</option>
          <option value="项目C">项目C</option>
        </select>
      </div>

      <!-- Unnamed (Tree) -->
      <div id="u15" class="ax_default tree_node treeroot">
        <div id="u15_children" class="u15_children">

          <!-- Unnamed (Tree Node) -->
          <div id="u16" class="ax_default tree_node treenode">

            <!-- Unnamed (Image) -->
            <div id="u17" class="ax_default image">
              <img id="u17_img" class="img " src="{% static "images/index/u17_selected.png" %}"/>
              <!-- Unnamed () -->
              <div id="u18" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u19" class="ax_default image">
              <img id="u19_img" class="img " src="{% static "images/index/u19.png" %}"/>
              <!-- Unnamed () -->
              <div id="u20" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
            <!-- Unnamed (Rectangle) -->
            <div id="u21" class="" selectiongroup="u15_tree_group">
              <div id="u21_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u22" class="text">
                <p><span>用例集1</span></p>
              </div>
            </div>
            <div id="u16_children" class="u16_children">

              <!-- Unnamed (Tree Node) -->
              <div id="u23" class="ax_default tree_node treenode">

                <!-- Unnamed (Image) -->
                <div id="u24" class="ax_default image">
                  <img id="u24_img" class="img " src="{% static "images/index/u17_selected.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u25" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u26" class="ax_default image">
                  <img id="u26_img" class="img " src="{% static "images/index/u19.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u27" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
                <!-- Unnamed (Rectangle) -->
                <div id="u28" class="" selectiongroup="u15_tree_group">
                  <div id="u28_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u29" class="text">
                    <p><span style="text-decoration:underline;">后台功能A</span></p>
                  </div>
                </div>
                <div id="u23_children" class="u23_children">

                  <!-- Unnamed (Tree Node) -->
                  <div id="u30" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u31" class="ax_default image">
                      <img id="u31_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u32" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u33" class="" selectiongroup="u15_tree_group">
                      <div id="u33_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u34" class="text">
                        <p><span>查询用户分组列表</span></p>
                      </div>
                    </div>
                  </div>

                  <!-- Unnamed (Tree Node) -->
                  <div id="u35" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u36" class="ax_default image">
                      <img id="u36_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u37" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u38" class="" selectiongroup="u15_tree_group">
                      <div id="u38_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u39" class="text">
                        <p><span>查询用户分组列表</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Unnamed (Tree Node) -->
              <div id="u40" class="ax_default tree_node treenode">

                <!-- Unnamed (Image) -->
                <div id="u41" class="ax_default image">
                  <img id="u41_img" class="img " src="{% static "images/index/u17_selected.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u42" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u43" class="ax_default image">
                  <img id="u43_img" class="img " src="{% static "images/index/u19.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u44" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
                <!-- Unnamed (Rectangle) -->
                <div id="u45" class="" selectiongroup="u15_tree_group">
                  <div id="u45_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u46" class="text">
                    <p><span>Web功能B</span></p>
                  </div>
                </div>
                <div id="u40_children" class="u40_children">

                  <!-- Unnamed (Tree Node) -->
                  <div id="u47" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u48" class="ax_default image">
                      <img id="u48_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u49" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u50" class="" selectiongroup="u15_tree_group">
                      <div id="u50_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u51" class="text">
                        <p><span>用例1</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Unnamed (Tree Node) -->
              <div id="u52" class="ax_default tree_node treenode">

                <!-- Unnamed (Image) -->
                <div id="u53" class="ax_default image">
                  <img id="u53_img" class="img " src="{% static "images/index/u17_selected.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u54" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u55" class="ax_default image">
                  <img id="u55_img" class="img " src="{% static "images/index/u19.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u56" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
                <!-- Unnamed (Rectangle) -->
                <div id="u57" class="" selectiongroup="u15_tree_group">
                  <div id="u57_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u58" class="text">
                    <p><span>后台功能C</span></p>
                  </div>
                </div>
                <div id="u52_children" class="u52_children">

                  <!-- Unnamed (Tree Node) -->
                  <div id="u59" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u60" class="ax_default image">
                      <img id="u60_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u61" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u62" class="" selectiongroup="u15_tree_group">
                      <div id="u62_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u63" class="text">
                        <p><span>用例1</span></p>
                      </div>
                    </div>
                  </div>

                  <!-- Unnamed (Tree Node) -->
                  <div id="u64" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u65" class="ax_default image">
                      <img id="u65_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u66" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u67" class="" selectiongroup="u15_tree_group">
                      <div id="u67_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u68" class="text">
                        <p><span>用例2</span></p>
                      </div>
                    </div>
                  </div>

                  <!-- Unnamed (Tree Node) -->
                  <div id="u69" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u70" class="ax_default image">
                      <img id="u70_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u71" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u72" class="" selectiongroup="u15_tree_group">
                      <div id="u72_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u73" class="text">
                        <p><span>用例3</span></p>
                      </div>
                    </div>
                  </div>

                  <!-- Unnamed (Tree Node) -->
                  <div id="u74" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u75" class="ax_default image">
                      <img id="u75_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u76" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u77" class="" selectiongroup="u15_tree_group">
                      <div id="u77_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u78" class="text">
                        <p><span>用例4</span></p>
                      </div>
                    </div>
                  </div>

                  <!-- Unnamed (Tree Node) -->
                  <div id="u79" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u80" class="ax_default image">
                      <img id="u80_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u81" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u82" class="" selectiongroup="u15_tree_group">
                      <div id="u82_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u83" class="text">
                        <p><span>用例5</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u84" class="ax_default html_button">
        <input id="u84_input" type="submit" value="新建用例集"/>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u85" class="ax_default html_button">
        <input id="u85_input" type="submit" value="新建项目"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u86" class="ax_default text_field">
        <input id="u86_input" type="text" value="当前位置：测试计划1 &gt; 后台功能A "/>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u87" class="ax_default html_button">
        <input id="u87_input" type="submit" value="测试用例"/>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u88" class="ax_default html_button">
        <input id="u88_input" type="submit" value="测试执行"/>
      </div>

      <!-- Unnamed (Menu) -->
      <div id="u89" class="ax_default">
        <img id="u89_menu" class="img " src="{% static "images/index/u89_menu.png" %}" alt="u89_menu"/>

        <!-- Unnamed (Table) -->
        <div id="u90" class="ax_default table">

          <!-- Unnamed (Menu Item) -->
          <div id="u91" class="ax_default table_cell">
            <img id="u91_img" class="img " src="{% static "images/index/u91.png" %}"/>
            <!-- Unnamed () -->
            <div id="u92" class="text">
              <p><span>基本信息</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u93" class="ax_default table_cell">
            <img id="u93_img" class="img " src="{% static "images/index/u93.png" %}"/>
            <!-- Unnamed () -->
            <div id="u94" class="text">
              <p><span>接口管理</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u95" class="ax_default table_cell">
            <img id="u95_img" class="img " src="{% static "images/index/u95.png" %}"/>
            <!-- Unnamed () -->
            <div id="u96" class="text">
              <p><span>资源配置</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Connector) -->
      <div id="u97" class="ax_default connector">
        <img id="u97_seg0" class="img " src="{% static "images/index/u97_seg0.png" %}" alt="u97_seg0"/>
        <img id="u97_seg1" class="img " src="{% static "images/index/u97_seg1.png" %}" alt="u97_seg1"/>
        <!-- Unnamed () -->
        <div id="u98" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Inline Frame) -->
      <div id="u99" class="ax_default">
        <iframe id="u99_input" scrolling="auto" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u100" class="ax_default paragraph">
        <div id="u100_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u101" class="text">
          <p><span>项目名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u102" class="ax_default text_field">
        <input id="u102_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u103" class="ax_default paragraph">
        <div id="u103_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u104" class="text">
          <p><span>项目描述：</span></p>
        </div>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u105" class="ax_default html_button">
        <input id="u105_input" type="submit" value="确定"/>
      </div>

      <!-- Unnamed (Text Area) -->
      <div id="u106" class="ax_default text_area">
        <textarea id="u106_input"></textarea>
      </div>

      <!-- Unnamed (Vertical Line) -->
      <div id="u107" class="ax_default vertical_line">
        <img id="u107_img" class="img " src="{% static "images/index/u107.png" %}"/>
        <!-- Unnamed () -->
        <div id="u108" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Horizontal Line) -->
      <div id="u109" class="compound ax_default horizontal_line" WidgetHeight="1" WidgetWidth="160" CompoundMode="true">
        <img id="u109_img" class="singleImg img " src="{% static "images/index/u109.png" %}"/>
        <div id="u109p000" class="ax_vector_shape" WidgetTopLeftX="-0.48780487804878" WidgetTopLeftY="-0.25" WidgetTopRightX="0.48780487804878" WidgetTopRightY="-0.25" WidgetBottomLeftX="-0.48780487804878" WidgetBottomLeftY="0" WidgetBottomRightX="0.48780487804878" WidgetBottomRightY="0">
          <img id="u109p000_img" class="img " src="{% static "images/index/u109p000.png" %}"/>
        </div>
        <div id="u109p001" class="ax_vector_shape" WidgetTopLeftX="-0.166666666666667" WidgetTopLeftY="-0.5" WidgetTopRightX="53.1666666666667" WidgetTopRightY="-0.5" WidgetBottomLeftX="-0.166666666666667" WidgetBottomLeftY="0" WidgetBottomRightX="53.1666666666667" WidgetBottomRightY="0">
          <img id="u109p001_img" class="img " src="{% static "images/index/u109p001.png" %}"/>
        </div>
        <div id="u109p002" class="ax_vector_shape" WidgetTopLeftX="-7.85" WidgetTopLeftY="0" WidgetTopRightX="0.15" WidgetTopRightY="0" WidgetBottomLeftX="-7.85" WidgetBottomLeftY="0.05" WidgetBottomRightX="0.15" WidgetBottomRightY="0.05">
          <img id="u109p002_img" class="img " src="{% static "images/index/u109p002.png" %}"/>
        </div>
        <!-- Unnamed () -->
        <div id="u110" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>
    </div>
  </body>
</html>
