{% load static %}
{#    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link href="{% static "css/navbar.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery-ui.css" %}" rel="stylesheet">
    <style>

        a:link, a:visited {
            color: #000000;
        }

        body {
            list-style: none;
        }

        ul {
            display: block;
            list-style-type: disc;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            -webkit-padding-start: 40px;
        }

        li {
            display: list-item;
            text-align: -webkit-match-parent;
            list-style: none;
        }

        {#        ul > li{#}
        {#            font-size: small;#}
        {#        }#}
        .myhidden{
            visibility: hidden;
        }

        .myhidden1{
            display:none;
        }
    </style>