{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>variable_new</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="{% static "resources/css/jquery-ui-themes.css" %}" type="text/css" rel="stylesheet"/>
    <link href="{% static "resources/css/axure_rp_page.css" %}" type="text/css" rel="stylesheet"/>
    <link href="{% static "data/styles.css" %}" type="text/css" rel="stylesheet"/>
    <link href="{% static "files/variable_new/styles.css" %}" type="text/css" rel="stylesheet"/>
    <script src="{% static "resources/scripts/jquery-1.7.1.min.js" %}"></script>
    <script src="{% static "resources/scripts/jquery-ui-1.8.10.custom.min.js" %}"></script>
    <script src="{% static "resources/scripts/prototypePre.js" %}"></script>
    <script src="{% static "data/document.js" %}"></script>
    <script src="{% static "resources/scripts/prototypePost.js" %}"></script>
    <script src="{% static "files/variable_new/data.js" %}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Vertical Line) -->
      <div id="u927" class="ax_default vertical_line">
        <img id="u927_img" class="img " src="{% static "images/variable_new/u927.png" %}"/>
        <!-- Unnamed () -->
        <div id="u928" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u929" class="ax_default shape">
        <div id="u929_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u930" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u931" class="ax_default shape">
        <div id="u931_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u932" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u933" class="ax_default shape">
        <div id="u933_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u934" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u935" class="ax_default image">
        <img id="u935_img" class="img " src="{% static "images/index/u8.PNG" %}"/>
        <!-- Unnamed () -->
        <div id="u936" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u937" class="ax_default droplist">
        <select id="u937_input">
          <option selected value="项目A">项目A</option>
          <option value="项目B">项目B</option>
          <option value="项目C">项目C</option>
        </select>
      </div>

      <!-- Unnamed (Tree) -->
      <div id="u938" class="ax_default tree_node treeroot">
        <div id="u938_children" class="u938_children">

          <!-- Unnamed (Tree Node) -->
          <div id="u939" class="ax_default tree_node treenode">

            <!-- Unnamed (Image) -->
            <div id="u940" class="ax_default image">
              <img id="u940_img" class="img " src="{% static "images/index/u17_selected.png" %}"/>
              <!-- Unnamed () -->
              <div id="u941" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u942" class="ax_default image">
              <img id="u942_img" class="img " src="{% static "images/index/u19.png" %}"/>
              <!-- Unnamed () -->
              <div id="u943" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
            <!-- Unnamed (Rectangle) -->
            <div id="u944" class="" selectiongroup="u938_tree_group">
              <div id="u944_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u945" class="text">
                <p><span>用例集1</span></p>
              </div>
            </div>
            <div id="u939_children" class="u939_children">

              <!-- Unnamed (Tree Node) -->
              <div id="u946" class="ax_default tree_node treenode">

                <!-- Unnamed (Image) -->
                <div id="u947" class="ax_default image">
                  <img id="u947_img" class="img " src="{% static "images/index/u17_selected.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u948" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u949" class="ax_default image">
                  <img id="u949_img" class="img " src="{% static "images/index/u19.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u950" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
                <!-- Unnamed (Rectangle) -->
                <div id="u951" class="" selectiongroup="u938_tree_group">
                  <div id="u951_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u952" class="text">
                    <p><span>后台功能A</span></p>
                  </div>
                </div>
                <div id="u946_children" class="u946_children">

                  <!-- Unnamed (Tree Node) -->
                  <div id="u953" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u954" class="ax_default image">
                      <img id="u954_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u955" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u956" class="" selectiongroup="u938_tree_group">
                      <div id="u956_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u957" class="text">
                        <p><span>查询用户分组列表</span></p>
                      </div>
                    </div>
                  </div>

                  <!-- Unnamed (Tree Node) -->
                  <div id="u958" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u959" class="ax_default image">
                      <img id="u959_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u960" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u961" class="" selectiongroup="u938_tree_group">
                      <div id="u961_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u962" class="text">
                        <p><span>查询用户分组列表</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Unnamed (Tree Node) -->
              <div id="u963" class="ax_default tree_node treenode">

                <!-- Unnamed (Image) -->
                <div id="u964" class="ax_default image">
                  <img id="u964_img" class="img " src="{% static "images/index/u17_selected.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u965" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u966" class="ax_default image">
                  <img id="u966_img" class="img " src="{% static "images/index/u19.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u967" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
                <!-- Unnamed (Rectangle) -->
                <div id="u968" class="" selectiongroup="u938_tree_group">
                  <div id="u968_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u969" class="text">
                    <p><span>Web功能B</span></p>
                  </div>
                </div>
                <div id="u963_children" class="u963_children">

                  <!-- Unnamed (Tree Node) -->
                  <div id="u970" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u971" class="ax_default image">
                      <img id="u971_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u972" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u973" class="" selectiongroup="u938_tree_group">
                      <div id="u973_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u974" class="text">
                        <p><span>用例1</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Unnamed (Tree Node) -->
              <div id="u975" class="ax_default tree_node treenode">

                <!-- Unnamed (Image) -->
                <div id="u976" class="ax_default image">
                  <img id="u976_img" class="img " src="{% static "images/index/u17_selected.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u977" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u978" class="ax_default image">
                  <img id="u978_img" class="img " src="{% static "images/index/u19.png" %}"/>
                  <!-- Unnamed () -->
                  <div id="u979" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
                <!-- Unnamed (Rectangle) -->
                <div id="u980" class="" selectiongroup="u938_tree_group">
                  <div id="u980_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u981" class="text">
                    <p><span>后台功能C</span></p>
                  </div>
                </div>
                <div id="u975_children" class="u975_children">

                  <!-- Unnamed (Tree Node) -->
                  <div id="u982" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u983" class="ax_default image">
                      <img id="u983_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u984" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u985" class="" selectiongroup="u938_tree_group">
                      <div id="u985_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u986" class="text">
                        <p><span>用例1</span></p>
                      </div>
                    </div>
                  </div>

                  <!-- Unnamed (Tree Node) -->
                  <div id="u987" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u988" class="ax_default image">
                      <img id="u988_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u989" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u990" class="" selectiongroup="u938_tree_group">
                      <div id="u990_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u991" class="text">
                        <p><span>用例2</span></p>
                      </div>
                    </div>
                  </div>

                  <!-- Unnamed (Tree Node) -->
                  <div id="u992" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u993" class="ax_default image">
                      <img id="u993_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u994" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u995" class="" selectiongroup="u938_tree_group">
                      <div id="u995_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u996" class="text">
                        <p><span>用例3</span></p>
                      </div>
                    </div>
                  </div>

                  <!-- Unnamed (Tree Node) -->
                  <div id="u997" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u998" class="ax_default image">
                      <img id="u998_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u999" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u1000" class="" selectiongroup="u938_tree_group">
                      <div id="u1000_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u1001" class="text">
                        <p><span>用例4</span></p>
                      </div>
                    </div>
                  </div>

                  <!-- Unnamed (Tree Node) -->
                  <div id="u1002" class="ax_default tree_node treenode">

                    <!-- Unnamed (Image) -->
                    <div id="u1003" class="ax_default image">
                      <img id="u1003_img" class="img " src="{% static "images/index/u31.png" %}"/>
                      <!-- Unnamed () -->
                      <div id="u1004" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>
                    <!-- Unnamed (Rectangle) -->
                    <div id="u1005" class="" selectiongroup="u938_tree_group">
                      <div id="u1005_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u1006" class="text">
                        <p><span>用例5</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u1007" class="ax_default html_button">
        <input id="u1007_input" type="submit" value="新建用例集"/>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u1008" class="ax_default html_button">
        <input id="u1008_input" type="submit" value="新建项目"/>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u1009" class="ax_default html_button">
        <input id="u1009_input" type="submit" value="测试用例"/>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u1010" class="ax_default html_button">
        <input id="u1010_input" type="submit" value="测试执行"/>
      </div>

      <!-- Unnamed (Menu) -->
      <div id="u1011" class="ax_default">
        <img id="u1011_menu" class="img " src="{% static "images/index/u89_menu.png" %}" alt="u1011_menu"/>

        <!-- Unnamed (Table) -->
        <div id="u1012" class="ax_default table">

          <!-- Unnamed (Menu Item) -->
          <div id="u1013" class="ax_default table_cell">
            <img id="u1013_img" class="img " src="{% static "images/index/u91.png" %}"/>
            <!-- Unnamed () -->
            <div id="u1014" class="text">
              <p><span>基本信息</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u1015" class="ax_default table_cell">
            <img id="u1015_img" class="img " src="{% static "images/index/u93.png" %}"/>
            <!-- Unnamed () -->
            <div id="u1016" class="text">
              <p><span>接口管理</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u1017" class="ax_default table_cell">
            <img id="u1017_img" class="img " src="{% static "images/index/u95.png" %}"/>
            <!-- Unnamed () -->
            <div id="u1018" class="text">
              <p><span>资源配置</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1019" class="ax_default paragraph">
        <div id="u1019_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1020" class="text">
          <p><span>新建变量</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1021" class="ax_default paragraph">
        <div id="u1021_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1022" class="text">
          <p><span>名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u1023" class="ax_default text_field">
        <input id="u1023_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1024" class="ax_default paragraph">
        <div id="u1024_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1025" class="text">
          <p><span>描述：</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Area) -->
      <div id="u1026" class="ax_default text_area">
        <textarea id="u1026_input"></textarea>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1027" class="ax_default paragraph">
        <div id="u1027_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1028" class="text">
          <p><span>类别：</span></p>
        </div>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u1029" class="ax_default radio_button">
        <label for="u1029_input">
          <!-- Unnamed () -->
          <div id="u1030" class="text">
            <p><span>HOST</span></p>
          </div>
        </label>
        <input id="u1029_input" type="radio" value="radio" name="u1029" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u1031" class="ax_default radio_button">
        <label for="u1031_input">
          <!-- Unnamed () -->
          <div id="u1032" class="text">
            <p><span>接口返回值</span></p>
          </div>
        </label>
        <input id="u1031_input" type="radio" value="radio" name="u1031"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1033" class="ax_default paragraph">
        <div id="u1033_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1034" class="text">
          <p><span>值：</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u1035" class="ax_default text_field">
        <input id="u1035_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1036" class="ax_default paragraph">
        <div id="u1036_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1037" class="text">
          <p><span>标签：</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u1038" class="ax_default text_field">
        <input id="u1038_input" type="text" value=""/>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u1039" class="ax_default html_button">
        <input id="u1039_input" type="submit" value="保存"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1040" class="ax_default paragraph">
        <div id="u1040_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1041" class="text">
          <p><span>如果选中的是“接口返回值”，点击文本框后弹出窗口</span></p>
        </div>
      </div>

      <!-- Unnamed (Inline Frame) -->
      <div id="u1042" class="ax_default">
        <iframe id="u1042_input" scrolling="auto" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1043" class="ax_default paragraph">
        <div id="u1043_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1044" class="text">
          <p><span>选择接口窗口</span></p>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u1045" class="ax_default table">

        <!-- Unnamed (Table Cell) -->
        <div id="u1046" class="ax_default table_cell">
          <img id="u1046_img" class="img " src="{% static "images/variable_new/u1046.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1047" class="text">
            <p><span>名称</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1048" class="ax_default table_cell">
          <img id="u1048_img" class="img " src="{% static "images/variable_new/u1046.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1049" class="text">
            <p><span>URL</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1050" class="ax_default table_cell">
          <img id="u1050_img" class="img " src="{% static "images/variable_new/u1046.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1051" class="text">
            <p><span>请求方式</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1052" class="ax_default table_cell">
          <img id="u1052_img" class="img " src="{% static "images/variable_new/u1046.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1053" class="text">
            <p><span>请求参数</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1054" class="ax_default table_cell">
          <img id="u1054_img" class="img " src="{% static "images/variable_new/u1046.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1055" class="text">
            <p><span>期望值</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1056" class="ax_default table_cell">
          <img id="u1056_img" class="img " src="{% static "images/variable_new/u1056.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1057" class="text">
            <p><span>操作</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1058" class="ax_default table_cell">
          <img id="u1058_img" class="img " src="{% static "images/variable_new/u1058.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1059" class="text">
            <p><span>获取用户消息</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1060" class="ax_default table_cell">
          <img id="u1060_img" class="img " src="{% static "images/variable_new/u1058.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1061" class="text">
            <p><span>/api/get</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1062" class="ax_default table_cell">
          <img id="u1062_img" class="img " src="{% static "images/variable_new/u1058.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1063" class="text">
            <p><span>POST</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1064" class="ax_default table_cell">
          <img id="u1064_img" class="img " src="{% static "images/variable_new/u1058.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1065" class="text">
            <p><span>{&quot;username&quot;:123,&quot;password&quot;:123456}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1066" class="ax_default table_cell">
          <img id="u1066_img" class="img " src="{% static "images/variable_new/u1058.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1067" class="text">
            <p><span>{&quot;retcode&quot;:&quot;200&quot;}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1068" class="ax_default table_cell">
          <img id="u1068_img" class="img " src="{% static "images/variable_new/u1068.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1069" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1070" class="ax_default table_cell">
          <img id="u1070_img" class="img " src="{% static "images/variable_new/u1070.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1071" class="text">
            <p><span>添加用户</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1072" class="ax_default table_cell">
          <img id="u1072_img" class="img " src="{% static "images/variable_new/u1070.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1073" class="text">
            <p><span>/user/addUserAndAuth</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1074" class="ax_default table_cell">
          <img id="u1074_img" class="img " src="{% static "images/variable_new/u1070.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1075" class="text">
            <p><span>POST</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1076" class="ax_default table_cell">
          <img id="u1076_img" class="img " src="{% static "images/variable_new/u1070.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1077" class="text">
            <p><span>{&quot;login_id&quot;:&quot;xyz123&quot;}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1078" class="ax_default table_cell">
          <img id="u1078_img" class="img " src="{% static "images/variable_new/u1070.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1079" class="text">
            <p><span>{&quot;retcode&quot;:&quot;200&quot;}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1080" class="ax_default table_cell">
          <img id="u1080_img" class="img " src="{% static "images/variable_new/u1080.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1081" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u1082" class="ax_default text_field">
        <input id="u1082_input" type="text" value="搜索..."/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1083" class="ax_default paragraph">
        <div id="u1083_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1084" class="text">
          <p><span>已选择接口</span></p>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u1085" class="ax_default table">

        <!-- Unnamed (Table Cell) -->
        <div id="u1086" class="ax_default table_cell">
          <img id="u1086_img" class="img " src="{% static "images/variable_new/u1046.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1087" class="text">
            <p><span>名称</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1088" class="ax_default table_cell">
          <img id="u1088_img" class="img " src="{% static "images/variable_new/u1046.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1089" class="text">
            <p><span>URL</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1090" class="ax_default table_cell">
          <img id="u1090_img" class="img " src="{% static "images/variable_new/u1046.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1091" class="text">
            <p><span>请求方式</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1092" class="ax_default table_cell">
          <img id="u1092_img" class="img " src="{% static "images/variable_new/u1046.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1093" class="text">
            <p><span>请求参数</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1094" class="ax_default table_cell">
          <img id="u1094_img" class="img " src="{% static "images/variable_new/u1046.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1095" class="text">
            <p><span>期望值</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1096" class="ax_default table_cell">
          <img id="u1096_img" class="img " src="{% static "images/variable_new/u1056.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1097" class="text">
            <p><span>操作</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1098" class="ax_default table_cell">
          <img id="u1098_img" class="img " src="{% static "images/variable_new/u1098.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1099" class="text">
            <p><span>获取用户消息</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1100" class="ax_default table_cell">
          <img id="u1100_img" class="img " src="{% static "images/variable_new/u1098.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1101" class="text">
            <p><span>/api/get</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1102" class="ax_default table_cell">
          <img id="u1102_img" class="img " src="{% static "images/variable_new/u1098.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1103" class="text">
            <p><span>POST</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1104" class="ax_default table_cell">
          <img id="u1104_img" class="img " src="{% static "images/variable_new/u1098.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1105" class="text">
            <p><span>{&quot;username&quot;:123,&quot;password&quot;:123456}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1106" class="ax_default table_cell">
          <img id="u1106_img" class="img " src="{% static "images/variable_new/u1098.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1107" class="text">
            <p><span>{&quot;retcode&quot;:&quot;200&quot;}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u1108" class="ax_default table_cell">
          <img id="u1108_img" class="img " src="{% static "images/variable_new/u1108.png" %}"/>
          <!-- Unnamed () -->
          <div id="u1109" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u1110" class="ax_default html_button">
        <input id="u1110_input" type="submit" value="确定"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1111" class="ax_default paragraph">
        <div id="u1111_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1112" class="text">
          <p><span>新建接口</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1113" class="ax_default paragraph">
        <div id="u1113_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1114" class="text">
          <p><span>可以跳转到新建接口界面</span></p>
        </div>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u1115" class="ax_default checkbox">
        <label for="u1115_input">
          <!-- Unnamed () -->
          <div id="u1116" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </label>
        <input id="u1115_input" type="checkbox" value="checkbox" checked/>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u1117" class="ax_default checkbox">
        <label for="u1117_input">
          <!-- Unnamed () -->
          <div id="u1118" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </label>
        <input id="u1117_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u1119" class="ax_default checkbox">
        <label for="u1119_input">
          <!-- Unnamed () -->
          <div id="u1120" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </label>
        <input id="u1119_input" type="checkbox" value="checkbox" checked/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1121" class="ax_default paragraph">
        <div id="u1121_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1122" class="text">
          <p><span>返回值：</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u1123" class="ax_default text_field">
        <input id="u1123_input" type="text" value="{&quot;msg&quot;：&quot;运行成功&quot;}"/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u1124" class="ax_default image">
        <img id="u1124_img" class="img " src="{% static "images/variable_new/u1124.png" %}"/>
        <!-- Unnamed () -->
        <div id="u1125" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1126" class="ax_default paragraph">
        <div id="u1126_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1127" class="text">
          <p><span>运行按钮，获取返回值，结构</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1128" class="ax_default paragraph">
        <div id="u1128_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1129" class="text">
          <p><span>获取值：</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u1130" class="ax_default text_field">
        <input id="u1130_input" type="text" value="$msg"/>
      </div>

      <!-- Unnamed (Vertical Line) -->
      <div id="u1131" class="compound ax_default vertical_line" WidgetHeight="55" WidgetWidth="1" CompoundMode="true">
        <img id="u1131_img" class="singleImg img " src="{% static "images/variable_new/u1131.png" %}"/>
        <div id="u1131p000" class="ax_vector_shape" WidgetTopLeftX="-0.46551724137931" WidgetTopLeftY="0.25" WidgetTopRightX="-0.46551724137931" WidgetTopRightY="0" WidgetBottomLeftX="0.482758620689655" WidgetBottomLeftY="0.25" WidgetBottomRightX="0.482758620689655" WidgetBottomRightY="0">
          <img id="u1131p000_img" class="img " src="{% static "images/variable_new/u1131p000.png" %}"/>
        </div>
        <div id="u1131p001" class="ax_vector_shape" WidgetTopLeftX="-0.5" WidgetTopLeftY="-0.166666666666667" WidgetTopRightX="0" WidgetTopRightY="-0.166666666666667" WidgetBottomLeftX="-0.5" WidgetBottomLeftY="18.1666666666667" WidgetBottomRightX="0" WidgetBottomRightY="18.1666666666667">
          <img id="u1131p001_img" class="img " src="{% static "images/variable_new/u1131p001.png" %}"/>
        </div>
        <div id="u1131p002" class="ax_vector_shape" WidgetTopLeftX="0" WidgetTopLeftY="-2.6" WidgetTopRightX="0.05" WidgetTopRightY="-2.6" WidgetBottomLeftX="0" WidgetBottomLeftY="0.15" WidgetBottomRightX="0.05" WidgetBottomRightY="0.15">
          <img id="u1131p002_img" class="img " src="{% static "images/variable_new/u1131p002.png" %}"/>
        </div>
        <!-- Unnamed () -->
        <div id="u1132" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1133" class="ax_default paragraph">
        <div id="u1133_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1134" class="text">
          <p><span>$msg $加变量名（key）可以获取value，返回的形式也是$msg</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
